<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="sortcut icon" href="../imagens/icone.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../CSS/add.css">
    <script type="text/javascript" src="../JS/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../js/add.js"></script>

    <title>ADD</title>
</head>
<body>
<header class="header">
    <img id="ima_logo" src="../Imagens/icon.png" alt="logo">
    <nav class="menu">
        <ul>
            <li>
                <a id="user">Olá, Visitante</a>
            </li>
            <li>
                <a id="volta"href="/home" class="botao">Voltar</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <nav id="form-padrao">
        <div> Checagem de Usuário</div>

        <div>User:</div>
        <div class="nome_usuario"><input type="text" placeholder="user" value="bibi" id="userInfo"/></div>
        <div>Senha:</div>
        <div class="senha"><input type="password" placeholder="senha" value ="rr" id="senhaInfo"></div>                <div> O que vai ser upado</div>
        <div class="opcoes">
            <input type="button" class="botao" value="Manga" onclick="manga()"/>
            <input type="button" class="botao" value="Capitulo" onclick="cap()"/>
        </div>



    </nav>
    <div class="add_cap" id="cap">


        <nav class="verifica">
            <div>Qual obra?</div>
            <div><input type="text" placeholder="escolha" id='pesquisa_cap'></div>
            <div id="resultados">
            </div>

        </nav>
        <nav id="info_cap">
            <div>Capitulo</div>
            <div><input type="number" id="numCap"></div>
            <div>Nome do capitulo</div>
            <div><input type="text" id="nomeCap"></div>
            <div>Numero de Páginas</div>
            <div><input type="number" id="numPags"></div>
            <div>Paginas:</div>
            <div class="file"><input type="file" id="pags" name="filename" multiple></div>

        </nav>
    </div>
    <div class="add_ob"  id="obr">
        <nav id="form_add_obra">
            <div>Verifique se ja existe</div>
            <div>
                <input type="text" name="obras" id="pesquisa_obra" placeholder="pesquise aki">
            </div>

            <div id="result"></div>
            <nav id="info_ob">
                <div>Nome:</div>
                <div>
                    <input type="text" name="nome_obra" id='nome_obra_ob'>
                </div>
                <div>Descrição:</div>
                <div>
                    <input type="text" name="desc_obra" id="desc_obra">
                </div>
                <div>Autor:</div>
                <div>
                    <input type="text" name="autor_obra" id="autor_obra">
                </div>
                <div>Capa:</div>
                <div class="file">
                    <input type="file" name="capa_obra" id="capa_obra">
                </div>
            </nav>
        </nav>
    </div>
    <div id="footer"><input id="enviar" type="button" class="botao" value="Enviar" onclick="envia()"/></div>
</main>

</body>
</html>