<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../CSS/ler.css">
    
    <link rel="sortcut icon" href="../imagens/icone.ico" type="image/x-icon" />
 
    <title>RicScan</title>
</head>
<body>
    <header id="header">
        <nav class="usuario">
            <h2 id="user">Olá, Visitante</h2>
            <div id="admin"></div>
        </nav>
        <nav class="logo">
            <img id="ima_logo" src="../Imagens/icon.png" alt="logo">
            Bem Vindo
        </nav>
        <div id="pesquisa">
            <form id='form'>
                <input type='text' autocomplete="off" id='nome' name='procuraObra' placeholder='Pesquise...'/> <br/>
            </form>
        </div>
    </header>
   
    <main >
    <nav id="corpo">

    </nav>
    <div id="descricao" >
        <!--<input type="button" class="botao" id="fecha_descricao" value="X" onclick="esconde()">-->
        <div id="info">
        </div>
    </div>
    </main>
    <footer id="rodape">
    </footer>
    
</body>
<section>
    <script type="text/javascript" src="../JS/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../JS/ler.js"></script>
<!--
       //<script type="module" src="../JS/pesquisa.js"></script>
       //<script type="text/javascript" src="../JS/pesquisa.js"></script>
       -->
</section>
</html> 